<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="FilePath" value="G:\huoyibingli\pictures"/>
    <add key="BackupPath" value="G:\backup\huoyibingli\pictures"/>
    <add key="UpdataPath" value="G:\FileUpdate\huoyibingli\pictures"/>
    <add key="IsVerifyConsistency" value="false"/>
  </appSettings>
</configuration>